.koyumavi{
                
    text-align: center;
}

#ilk{
    background: linear-gradient(135deg,rgba(112,73,186,0.6785938262939453),rgba(233,80,149,0.3910938262939453));
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    -webkit-box-shadow: 12px 13px 49px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 13px 49px -10px rgba(0,0,0,0.75);
    box-shadow: 12px 13px 49px -10px rgba(0,0,0,0.75);
}

